{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks", "jest"],
  "extends": ["airbnb-base"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "react/jsx-uses-vars": ["error"],
    "react-hooks/rules-of-hooks": "error",
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "render"
        ]
      }
    ],
    "import/no-extraneous-dependencies": "off"
  }
}
