{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks", "jest"],
  "extends": ["airbnb-base"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "react/jsx-uses-vars": ["error"],
    "react-hooks/rules-of-hooks": "error",
    "import/no-extraneous-dependencies": "off"
  }
}
